<div class="row">
  <div class="center-block">
    <h1>EXPOSING LEE TO CHEAT ME.</h1>
  </div>
</div>

<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>Seller knows that I need MATS for GYM. I went with 1cm thickness because most gym mats I have seen locally were of good quality and can sustain 30-40 Kg weight drops at 1cm thickness. But seller recommended me of different color mats but didn't recommended me to go with other mats of more thickness and quality for gym purpose.</h3>
  </div>
</div>

<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_1.png", size: "1100x600" %>
  </div>    
</div>
<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_2.png", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>When my payment got declined via credit card, he offes me to place payment via paypal or western union. His words shows that he cannot wait to get payment and even offered me more discount.</h3>
  </div>
</div>

<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_4.png", size: "1100x600" %>
  </div>    
</div>



<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>As a customer, I also sees to buy product at best price. But he tried his best to convince me with methods, where I will lose the Ali-Express 60 days Buyer Protection. But this was my first time with Ali-Express, so I didn't take any risk.</h3>
  </div>
</div>
<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_3.png", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>When I received the order, there were only 6 lots, whereas I ordered 7 lots and on asking LEE, he gave me an excuse that my order was exchanged by another customer who got 7 lots instead of 6. I doubt he might not be able to prove it.</h3>
  </div>
</div>
<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_5.png", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>When I asked about such low quality product and told him that I already conveyed him via email that I want mats for gym, why cannot he suggest me with another product of good quality, then he gave me a link of another product. Useless after I received the product whose actual cost was less than $100.</h3>
  </div>
</div>
<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_6.png", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>On raising DISPUTE, he was ready to return 50% amount without any questions and did not even try to prove his mats are of good quality. Then I came to know that actual amount I paid was of shipping rather than of product. I was really pissed after knowing this.</h3>
  </div>
</div>

<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_7.png", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>After raising DISPUTE, when I didn't answer anything about return percentage of amount via skype talk. He mailed me and told me that he has a HAPPY customer in India, whom I should ship the product on my expense (that is OK with me) but I have to bear the custom charges. I didn't agree on this. It feels like he is having an agent in India and after shipping when customer is not satisfied with product, then convince customer to ship product to his agent and just bear the custom charges. (I am so pissed that he has a customer in India, whom he has charged $200 for $280 products but didn't want to pay more(custom charges) for the product.) </h3>
  </div>
</div>

<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_8.png", size: "1100x600" %>
  </div>    
</div>
<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "point_9.png", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3><b>Right now I am so pissed and feels that Ali-Express should ban these types of SELLERS from their site. I really had a bad experience on my first purchase from AliExpress. I want AliExpress to take the decision beacuse I want the seller should not only return full amount but also should be penalized for his acts. </b></h3>
  </div>
</div>