<div class="row">
	<div class="center-block">
		<h1>PROOFS. </h1>
	</div>
</div>

<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>Product Description on site defines product to be wrinkle free but on giving 2-3 bends upside down, mats get wrinkled. </h3>
  </div>
</div>

<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "proof_1.jpg", size: "1100x600" %>
  </div>    
</div>
<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "proof_2.jpg", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>Product Description on site defines product package to be 4.0 Kg but 3 lots weigh only 8.8 Kg. Seller gives an answer that shipping company consider 3.1 Kg package as 4.0 Kg but I wonder why they consider 8.8 Kg as 8.8 Kg but not 9.0 Kg. </h3>
  </div>
</div>

<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "proof_3.jpg", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>Base of the mat has holes and after walking on it, it gets some dent too. </h3>
  </div>
</div>

<div class="row" style="margin-top: 30px;"></div>
<div class="row">
  <div class="center-block">
    <%= image_tag "proof_4.jpg", size: "1100x600" %>
  </div>    
</div>

<div class="row" style="margin-top: 30px;">
  <p>______________________________________________________________________________________________________________________________________________________</p>
</div>
<div class="row" style="margin-top: 30px;"></div>

<div class="row">
  <div class="center-block">
    <h3>
    <%= link_to "https://www.youtube.com/watch?v=mFm4Io8NlqM", :target => "_blank" do %>
    	You can also watch the video online, where I demonstrate how I was able to tear mat or bring mat to tearable position with 5-6 twist from the ends.
    <% end %>
    </h3>
  </div>
</div>